{% include "change_password_head.html"%}
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card p-3 mt-5">
                <form action="change_password"  method="post">
                    <div class="text-center">
                        <h2>Welcome, {{ username }}!</h2>
                        <p>This is your first login. Please change your password:</p>
                    </div>
                    <div class="mt-4">
                        <label for="new_password" class="form-label"><h5>New Password</h5></label>
                        <input type="password" name="new_password" id="newpassword" class="form-control" required placeholder="Enter New Password">
                    </div>
                    <div class="mt-4">
                        <input type="submit" value="Change Password" class="btn btn-primary w-100">
                    </div>
                </form>

            </div>

        </div>
        <div class="col-md-4"></div>
    </div>
</div>
