{% include "Dhead.html"%}
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card p-3 mt-4">
                <form action="driver_registration1" method="post" enctype="multipart/form-data">
                    <div class="text-center"><h4>Drivers Registration</h4></div>
                      <div class="row">
                            <div class="col-md-6 mt-3">
                                <label for="name" class="form-label"><h6>Name</h6></label>
                                <input type="text" name="name" id="name" class="form-control" required placeholder="Enter Name">
                            </div>
                            <div class="col-md-6 mt-3">
                                <label for="password" class="form-label"><h6>Password</h6></label>
                                <input type="password" name="password" id="password" class="form-control" required placeholder="Enter Password">
                            </div>
                      </div>
                      <div class="row">
                            <div class="col-md-6 mt-3">
                                <label for="phone" class="form-label"><h6>Phone</h6></label>
                                <input type="text" name="phone" id="phone" class="form-control" required placeholder="Enter Phone Number " maxlength="10" oninput="formatphone(this)">
                            </div>
                            <script>
                                function formatphone(input) {
                                    let phone = input.value.replace(/\D/g, ''); // Remove non-numeric characters
                                    let formattedphone = phone;
                                    input.value = formattedphone;
                                }
                            </script>
                            <div class="col-md-6 mt-3">
                                <label for="email" class="form-label"><h6>Email</h6></label>
                                <input type="email" name="email" id="email" class="form-control" required placeholder="Enter Email">
                            </div>
                      </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mt-3">
                                <label for="address"><h6>Address</h6></label>
                                <textarea id="address"  name="address" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                              <div class=mt-5>
                                    <label class="form-label"><h6>Gender</h6></label>&nbsp;&nbsp;
                                    <input type="radio"  name="gender" value="Male" id="male"> <label class="" for="male">Male</label>&nbsp;
                                    <input type="radio"  name="gender" value="Female" id="female"> <label  class="" for="female">Female</label>&nbsp;
                              </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6 mt-3">
                            <label for="driving_licence_number"><h6>Driving Licence Number</h6></label>
                            <input type="text" name="driving_licence_number" id="DL" class="form-control" required placeholder="Driving Licence Number">
                            </div>
                        </div>

                            <div class="mt-2">
                                <label for="file" class="form-label"><h6>Driving Licence Proof</h6></label>
                                <input type="file"  id="file" name="file" class="form-control">
                            </div>


                            <div class="mt-3">
                                <input type="submit" value="Submit" class="btn btn-primary w-100">
                            </div>

                </form>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

</div>
