{% if session['role'] == 'police_officer' %}
    {% include "police_officer_head.html" %}
{% else %}
    {% include "driver_head.html" %}
{% endif %}

<div class="container">
    <div class="row">
        {% for ticket in tickets %}
        <div class="col-md-4 mt-5">
            <div class="card p-3 mt-5">
                <div class="row">
                    <div >
                        <label class="form-label"><b>Ticket no:</b></label>
                        <div>{{ticket["_id"]}}</div>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label"><b>Driver Licence number</b></label>
                        <div>{{ticket['driving_licence_number']}}</div>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label"><b>Insurance number</b></label>
                        <div>{{registration_documents['insurance_number']}}</div>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label"><b>Vehicle no:</b></label>
                        <div>{{registration_documents["vehicle_register_number"]}}</div>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label"><b>Police officer:</b></label>
                        <div>{{police_officer["name"]}}</div>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label"><b>Reason:</b></label>
                        <div>{{ticket["reason"]}}</div>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label"><b>Amount:</b></label>
                        <div>${{ticket["amount"]}}</div>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label"><b>Status:</b></label>
                        <div>{{ticket["status"]}}</div>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label"><b>Date and Time:</b></label>
                        <div>{{ticket["date"].strftime("%d/%m/%y %I:%M %p")}}</div>
                    </div>
                    {% if session['role'] == 'driver' and ticket['status'] != 'PAID' %}
                        <div class="mt-3">
                            <form action="ticket_payment" method="post">
                                <input type="hidden" name="ticket_id" value="{{ticket['_id']}}" >
                                <input type="submit" value="pay" id="btn" class="btn btn-primary w-100">
                            </form>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>