{% include "driver_head.html" %}
<div class="container mt-5">
    <div class="row">
        {% for registration_document in registration_documents: %}
        {% set vehicle = get_vehicle_by_vehicle_id(registration_document['vehicle_id']) %}
        <div class="col-md-6">
            <div class="card p-3 mt-2  text-dark" >
                <div class="row">
                    <div class="col-md-6 mt-1">
                         <b>Vehicle Title Number</b>
                         <div>{{registration_document['vehicle_title']}}</div>
                    </div>
                    <div class="col-md-6 mt-1">
                         <b>Vehicle Name</b>
                         <div>{{vehicle['vehicle_name']}}</div>
                    </div>
                    <div class="col-md-6 mt-2">
                        <b>Vehicle Model</b>
                        <div>{{vehicle['vehicle_model']}}</div>
                    </div>
                    <div class="col-md-6 mt-2">
                        <b>Vehicle Type</b>
                        <div>{{vehicle['vehicle_type']}}</div>
                    </div>
                    <div class="col-md-6 mt-2">
                        <b>Vehicle Manufacturing Year</b>
                        <div>{{vehicle['vehicle_manufacturing_year']}}</div>
                    </div>
                    <div class="col-md-6 mt-3">
                        <b>Vehicle Capacity</b>
                        <div>{{vehicle['vehicle_capacity']}}</div>
                    </div>
                    <div class="col-md-6 mt-3">
                        <b>Vehicle Mileage</b>
                        <div>{{vehicle['vehicle_mileage']}}</div>
                    </div>
                    <div class="col-md-6 mt-3">
                        <b>Vehicle Register Number </b>
                        <div>{{registration_document['vehicle_register_number']}}</div>
                    </div>
                    <div class="col-md-6 mt-3">
                        <b>Insurance Number</b>
                        <div>{{registration_document['insurance_number']}}</div>
                    </div>
                    <div class="col-md-6 mt-3">
                        <b>Vehicle Valid From</b>
                        <div>{{registration_document['vehicle_valid_from']}}</div>
                    </div>
                    <div class="col-md-6 mt-3">
                        <b>Insurance Valid From </b>
                        <div>{{registration_document['insurance_valid_from']}}</div>
                    </div>
                    <div class="col-md-6 mt-3">
                        <b>Vehicle Valid to </b>
                        <div>{{registration_document['vehicle_valid_to']}}</div>
                    </div>
                    <div class="col-md-6 mt-3">
                        <b>Insurance Valid Upto </b>
                        <div>{{registration_document['insurance_valid_to']}}</div>
                    </div>
                    <div class="col-md-6 mt-3">
                        <b>Status</b>
                        <div>{{registration_document['status']}}</div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>